[submodule "modules/glfw"]
	path = modules/glfw
	url = git@github.com:glfw/glfw.git
	branch = 7b6aead # tag: 3.4
	ignore = all

[submodule "modules/glm"]
	path = modules/glm
	url = git@github.com:g-truc/glm.git
	ignore = all
	branch = bf71a83 # tag: GLM 0.9.9.8

[submodule "modules/spdlog"]
	path = modules/spdlog
	url = git@github.com:gabime/spdlog.git
	branch = 7e635fc # tag: v1.12.0
    ignore = all

[submodule "modules/googletest"]
	path = modules/googletest
	url = git@github.com:google/googletest.git
    branch = 1d17ea141d2c11b8917d2c7d029f1c4e2b9769b2
    ignore = all